html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: white;
}

/* ------- Changer la couleur du back dans le header ------- */
header {
    background-color: #D0B19B;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100px;
}

section[id] {
    scroll-margin-top: 100px;
}

/* menu */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: 600;
}

/* ------- banderole d'en haut nommée premiere (hero) ------- */

.premiere {
    background-color:  #FFD9B7;
    text-align: center;
    padding: 70px 20px;
}
.premiere {
    display: flex;
    flex-direction: column; /* titre au-dessus du bouton */
    align-items: center;    /* centre horizontalement les enfants */
    justify-content: center;/* centre verticalement si tu veux */
    text-align: center;     /* garde-le pour le texte inline */
    padding: 70px 20px;
}

.premiere h1 {
    font-size: 1.6rem;
    max-width: 900px;
    margin: auto;
    
}

.premiere h2 {
    margin-top: 40px;
    font-size: 1.4rem;
    
}

.btn {
    display: inline-block;
    margin-top: 15px;
    background-color: #C8B0A1;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
   
}

/* ------- COLLECTIONS ------- */

.collections {
    text-align: center;
    padding: 60px 20px;
}

.collection-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.collection-item img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.collection-item p {
    margin-bottom: 15px;
    font-weight: bold;
}

.collection-item img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* ------- NOS ARTISTES ------- */

.artistes {
    text-align: center;
    padding: 60px 20px;
}

.artistes-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.artiste-item {
    max-width: 260px;
}

.artiste-item img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #C8B0A1;
}

.artiste-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.artiste-item p {
    font-size: 0.95rem;
    color: #444;
}

.artiste-item img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* ------- À PROPOS ------- */

.apropos {
    padding: 60px 20px;
}

.apropos h2 {
    text-align: center;
}

.apropos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.texte {
    max-width: 500px;
}

.photo-apropos {
    width: 350px;
    border-radius: 10px;
}

/* ------- GALERIE ------- */

.galerie {
    padding: 60px 20px;
    text-align: center;
}

.galerie h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
}

.galerie-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.galerie-item img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.galerie-item img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* ------- CONTACT ------- */

.contact {
    padding: 60px 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
}

.contact-left h3,
.contact-right h3 {
    margin-bottom: 15px;
}

.icons img {
    width: 70px;
    margin-right: 15px;
}

.contact-right form {
    background-color: #C8B0A1;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-right input {
    padding: 12px;
    border: none;
    background-color: white;
    border-radius: 4px;
}




@media (max-width: 900px) {

    .collection-grid {
        flex-direction: column;
        align-items: center;
    }

    .artistes-grid {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .apropos-container {
        flex-direction: column;
    }
    
    .galerie-grid {
        flex-direction: column;
    }

    .contact-container {
        flex-direction: column;
        gap: 40px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .header-container {
        flex-direction: column;
        gap: 20px;
    }
}